extends layout

block content

  div#main-wrapper
    div.container
      div.row
        div.12u.skel-cell-important
          div#content
            p Ese contenido que buscas no existe, metiste mal el dedo?