extends layout

block content

  div#main-wrapper
    div.container
      div.row
        div.12u.skel-cell-important
          div#content
            p tu sugerencia ha sido recibida, muchas gracias!