extends layout

block content

  div#banner-wrapper
    div.container
      div.row
        div.12u
          div#banner.box
            div
              div.row
                div.7u
                  iframe(width="560" height="315" src="#{first.youtube_url}" frameborder="0" allowfullscreen)
                div.5u
                  h2
                    a(href='/video/#{first.slug}')= first.title
                  p= first.description

  div#features-wrapper
    div.container
      div.row
        ul.8u.skel-cell-important.row

          li
            section.preview
              a.image.image-left(href='#')
                img(src='http://placehold.it/480x270' alt='')
              div.pull-right
                header
                  h3 titulo de video -1
                  p descripci贸n del video -1
                
          li
            section.preview
              a.image.image-left(href='#')
                img(src='http://placehold.it/480x270' alt='')
              div.pull-right
                header
                  h3 titulo de video -2
                  span.byline descripci贸n del video -2
          li
            section.preview
              a.image.image-left(href='#')
                img(src='http://placehold.it/480x270' alt='')
              div.pull-right
                header
                  h3 titulo de video -3
                  span.byline descripci贸n del video -3
                

          li
            section.preview
              a.image.image-left(href='#')
                img(src='http://placehold.it/480x270' alt='')
              div.pull-right
                header
                  h3 titulo de video -4
                  span.byline descripci贸n del video -4

        div.4u
          div#sidebar
            section
              h3 Subheading
              p Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus. 
                | Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat. 
                | Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis nisi 
                | consequat etiam.
              footer
                a.button.fa.fa-info-circle(href="#") Find out more

            section
              h3 Subheading
              ul.style2
                li
                  a(href="#") Amet turpis, feugiat et sit amet
                li
                  a(href="#") Ornare in hendrerit in lectus
                li
                  a(href="#") Semper mod quis eget mi dolore
                li
                  a(href="#") Quam turpis feugiat sit dolor
                li
                  a(href="#") Amet ornare in hendrerit in lectus
                li
                  a(href="#") Semper mod quisturpis nisi
