doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='content-type' content='text/html; charset=utf-8')
    meta(name='description' content='')
    meta(name='keywords' content='')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,800' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Oleo+Script:400' rel='stylesheet' type='text/css')
    script(src='/js/jquery.min.js')
    script(src='/js/config.js')
    script(src='/js/skel.min.js')
    script(src='/js/skel-panels.min.js')

   
    link(rel='stylesheet' href='/css/skel-noscript.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/style-desktop.css')
    
    //\[if lte IE 8]><script src='/js/html5shiv.js'></script><link rel='stylesheet' href='/css/ie8.css' /><![endif]
    //\[if lte IE 7]><link rel='stylesheet' href='/css/ie7.css' /><![endif]

  body
    div#header-wrapper
      div.container
        div.row
          div.12u
            header#header              
              div#logo
                h1
                  a#logo(href='/') CODECAFE.TV
                span Pequeñas porciones de código explicadas

              nav#nav
                ul
                  li
                    a(href='/sugerir') sugerir

    block content

    div#footer-wrapper
      footer#footer.container
        div.row
          div.3u
            section.widget-contact
              h2 Presentadores:
              ul
                li
                  a(href='http://twitter.com/app_config' target='_blank' title='Julian Vargas')
                    img(src='https://pbs.twimg.com/profile_images/378800000598424485/4600ff8749d921aff6fb6884fc36dec0.jpeg' width=50)
                li
                  a(href='http://twitter.com/agar3s' target='_blank' title='Giovanny Beltrán')
                    img(src='https://pbs.twimg.com/profile_images/378800000076136478/a608bede22d5626f2f6c3c8efedb93c5.jpeg' width=50)

          div.3u
            section.widget-contact.last
              h2 Encuentranos en:
              ul
                li
                  a.fa.fa-twitter.solo(href='http://twitter.com/codecafetv')
                    span Twitter
                li
                  a.fa.fa-youtube.solo(href='http://youtube.com/codecafetv')
                    span youtube
                li
                  a.fa.fa-google-plus.solo(href='https://plus.google.com/b/109646808852069189925/109646808852069189925')
                    span Google+


        div.row
          div.12u
            div#copyright
              | &copy; codecafetv
            
