extends layout

block content

  div.container
    form(method='POST')
      input(type='hidden', name='_csrf', value=token)
      label(for='title') Titulo: 
      input#title(name='title' type='text')
      br
      label(for='description') Descripci&oacute;n:
      textarea#description(name='description')
      br
      label(for='youtube_id') youtube video ID: 
      input#youtube_id(name='youtube_id' type='text')
      br
      input(type='submit')
