extends layout

block content

  div#main-wrapper
    div.container
      div.row
        div.12u.skel-cell-important
          div#content
            article.last
              iframe(width="853" height="480" src="#{video.youtube_url}" frameborder="0" allowfullscreen)
              
              h2= video.title
              p= video.description
